<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>

<body>
    <div class="contact-header">
        <img src="../../../assets/contact.png" alt="">
        <h2>Contact</h2>
    </div>
    <div class="contact-body">
        <div class="contact-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam amet et quidem eius natus quos hic
                perspiciatis itaque ab. </p>
            <p>Aspernatur accusamus quisquam maiores minus molestiae praesentium, incidunt dolorum quod aut?</p>
            <div class="contact-div">
                <i class="fa fa-mobile contact-number" aria-hidden="true"></i>
                <p>92xxxx345x</p>
            </div>
            <div class="contact-div">
                <i class="fa fa-envelope-o contact-number" aria-hidden="true"></i>
                <p>asxxxit.sdxxx@hungerr.com</p>
            </div>
        </div>

        <div class="contact-form">
            <form>
                <h2>Feedback</h2>
                <p>Email:<span class="asterix">*</span></p>
                <input type="text" placeholder="Email">
                <p>Feedback:<span class="asterix">*</span></p>
                <textarea name="feedback" class="textarea" cols="35" rows="10"></textarea>
                <button class="send-btn">Send</button>
            </form>
        </div>
    </div>

</body>

</html>