<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-container">

        <img src="../../../assets/namaste.png" alt="Namaste">
        <h1>Welcome!</h1>
        <p>We welcome you whole heartedly at Hungerr.</p>
        <p>A place where no one goes hungry.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea exercitationem ex eaque ipsa sint obcaecati
            eligendi architecto similique at omnis?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, eligendi! Consectetur, mollitia.
            Impedit, molestias consequuntur recusandae autem fugit dignissimos tenetur tempore, distinctio, porro
            inventore adipisci repudiandae eius mollitia! Quod, veniam. Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Odio quos vero molestiae explicabo accusantium ea esse veritatis, delectus tempore error
            quidem dolores cupiditate facilis rem ab nesciunt unde ut adipisci.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure ducimus neque adipisci. Expedita magni
            quibusdam, quam distinctio illo cupiditate a suscipit et perferendis aspernatur rerum omnis odio, fugi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corrupti neque delectus omnis nobis at
            qui impedit esse, aliquid quo officia dolore quam consectetur totam quia aliquam fugiat dolorum nihil</p>
    </div>
</body>

</html>