<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order</title>
</head>

<body>

    <div class="orders-header">
        <img class="order-icon" src="../../../assets/order.png" alt="">
        <h2>Order here</h2>
    </div>
    <div class="container">
        <div class="box1">
            <div class="image">

                <img class="image__img" src="../../../assets/Order/pexels-dana-tentis-262959.jpg" alt="">

                <div class="image__ovelay">
                    <button class="add_to_plate_btn">Add To Plate</button>

                </div>
            </div>
            <div class="tags">
                <ul>
                    <li>Tasty</li>
                    <li>Vegtarian Food</li>
                    <li>Sweet</li>
                    <li>Green</li>
                    <li>Solid</li>

                </ul>
            </div>
        </div>

        <div class="box2">
            <div class="image">

                <img class="image__img" src="../../../assets/Order/pexels-engin-akyurt-1437267.jpg" alt="">

                <div class="image__ovelay">
                    <button class="add_to_plate_btn">Add To Plate</button>

                </div>
            </div>

            <ul>
                <li>Tasty</li>
                <li>Vegtarian Food</li>
                <li>Sweet</li>
                <li>Green</li>
                <li>Solid</li>

            </ul>
        </div>

        <div class="box3">
            <div class="image">

                <img class="image__img" src="../../../assets/Order/pexels-pixabay-209540.jpg" alt="">

                <div class="image__ovelay">
                    <button class="add_to_plate_btn">Add To Plate</button>
                </div>
            </div>
            <ul>
                <li>Tasty</li>
                <li>Vegtarian Food</li>
                <li>Sweet</li>
                <li>Green</li>
                <li>Solid</li>

            </ul>
        </div>

        <div class="box4">
            <div class="image">

                <img class="image__img" src="../../../assets/Order/pexels-pixabay-461198.jpg" alt="">

                <div class="image__ovelay">
                    <button class="add_to_plate_btn">Add To Plate</button>

                </div>
            </div>
            <ul>
                <li>Tasty</li>
                <li>Vegtarian Food</li>
                <li>Sweet</li>
                <li>Green</li>
                <li>Solid</li>

            </ul>
        </div>

        <div class="box5">
            <div class="image">

                <img class="image__img" src="../../../assets/Order/pexels-rajesh-tp-1600711.jpg" alt="">

                <div class="image__ovelay">
                    <button class="add_to_plate_btn">Add To Plate</button>

                </div>
            </div>
            <ul>
                <li>Tasty</li>
                <li>Vegtarian Food</li>
                <li>Sweet</li>
                <li>Green</li>
                <li>Solid</li>

            </ul>
        </div>

    </div>
</body>

</html>