<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <div class="menu-heading">
        <img class="main-menu-img" src="../../../assets/menu.png" alt="">
        <h2>Today's Menu</h2>

    </div>
    <div class="main-container">
        <div class="menu">
            <img class="menu-img" src="../../../assets/Order/pexels-dana-tentis-262959.jpg" alt="">
            <p>Food name</p>
            <p>Description. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <button class="btn-add-to-plate">Add to plate</button>
        </div>

    </div>

    <div class="main-container">
        <div class="menu">
            <img class="menu-img" src="../../../assets/Order/pexels-engin-akyurt-1437267.jpg" alt="">
            <p>Food name</p>
            <p>Description. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <button class="btn-add-to-plate">Add to plate</button>
        </div>

    </div>

    <div class="main-container">
        <div class="menu">
            <img class="menu-img" src="../../../assets/Order/pexels-pixabay-209540.jpg" alt="">
            <p>Food name</p>
            <p>Description. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <button class="btn-add-to-plate">Add to plate</button>
        </div>

    </div>
    <div class="main-container">
        <div class="menu">
            <img class="menu-img" src="../../../assets/Order/pexels-pixabay-461198.jpg" alt="">
            <p>Food name</p>
            <p>Description. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <button class="btn-add-to-plate">Add to plate</button>
        </div>

    </div>
    <div class="main-container">
        <div class="menu">
            <img class="menu-img" src="../../../assets/Order/pexels-rajesh-tp-1600711.jpg" alt="">
            <p>Food name</p>
            <p>Description. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <button class="btn-add-to-plate">Add to plate</button>
        </div>

    </div>
    <div class="main-container">
        <div class="menu">
            <img class="menu-img" src="../../../assets/Order/pexels-dana-tentis-262959.jpg" alt="">
            <p>Food name</p>
            <p>Description. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <button class="btn-add-to-plate">Add to plate</button>
        </div>

    </div>
</body>

</html>